.login {
  /* background: #161645; */
  background: #151515;
  font-family: var(--fuente-principal);
  color: #151515;
}

.main_div {
  height: 75vh;
}

.ms-2 {
  text-decoration: none;
  font-size: large;
  font-weight: 900;
}

.container .card {
  border: none;
  /* border-top: 10px solid rgb(176, 106, 252); */
  border-top: 10px solid #1ae31f !important;
  /* background: #212042; */
  background: #161645;
  color: #161645;
}

.separador {
  width: 100%;
  text-align: center;
  margin: 30px auto 20px;
}

.main-heading {
  font-weight: 500;
  font-size: 30px !important;
}

.formLogin {
  padding: 0 25px 0 35px;
}

.form-control {
  border: 1px solid #161645;
  border-radius: 2px;
  background: #212042;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 600 !important;
  color: #151515 !important;
}

.form-control:focus {
  border: 1px solid #161645;
  border-radius: 2px;
  background: #212042;
  box-shadow: none;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

.bn {
  text-decoration: underline;
}

.bn:hover {
  cursor: pointer;
}

small {
  color:#161645 ;
}
