.botonera .boton-plataforma {
    color: #333 !important;
}

.botonera {
    background-color: #f0f8ff50;
    z-index: -99;
}

.btn-check:checked+.boton-plataforma{
    color: var(--color-terciario) !important;
}