.botonera-oculta {
    visibility: hidden;
}

.botonera .boton-plataforma {
    color: #333 !important;
}

.botonera {
    background-color: #f0f8ffa0;
}

.btn-check:checked+.boton-plataforma{
    color: var(--color-terciario) !important;
}