.navbar-expand .navbar-nav .dropdown-menu {
  bottom: -8rem !important;
  margin-left: -8rem;
  background-color: #151515;
  box-shadow: 0px 0px 10px var(--color-primario);
}

.navbar-expand .navbar-nav .dropdown-menu :not(:last-child) {
  border-bottom: 1px solid var(--color-primario);
}

.navbar-expand .navbar-nav .dropdown-menu li {
  padding: 15px 0;
}

.navbar-expand .navbar-nav .dropdown-menu,
.navbar-expand .navbar-nav .dropdown-menu Link {
  color: #fff;
}

.user-options .dropdown-toggle::after {
  display: none !important;
}

p {
  color: var(--color-terciario);
}

.navegacion-icono {
  color: var(--color-terciario);
  font-size: 1.8rem;
  margin: 14px;

}

@media only screen and (max-width: 820px) {
  .navbar-nav {
    height: 4rem;
    position: fixed;
    bottom: -0.5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 20px 10px 5px 10px;
    background-color: var(--color-secundario);
    width: 80%;
    border-radius: 30px 30px 0 0;
    flex-flow: row;
    justify-content: space-around !important;
    color: var(--color-terciario);
    z-index: 9;
    box-shadow: 0px 1px 15px 1px rgba(184, 122, 255, 0.4);
  }

  .nav-item {

    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: -8px 28px;

  }

  .navbar-expand .navbar-nav .dropdown-menu {
    bottom: 40px !important;
    margin-left: 0;
    left: calc(100vw - 30rem);
    margin-bottom: 20px !important;
    background-color: #151515;
    box-shadow: 0px 0px 10px var(--color-primario);
  }
}