.signup {
  /* background: #161645; */
  background: #151515;
  font-family: var(--fuente-principal);
}

.signup p{
  background-color: #0e0e0e;
  border-radius: 10px;
  text-align: center !important;
}

.main_div {
  height: 75vh;
}

.signup .container .card {
  border: none;
  /* border-top: 10px solid rgb(176, 106, 252); */
  border-top: 10px solid #1ae31f !important;
  /* background: #212042; */
  background: #161645;
  color: #57557a;
}

.ms-2 {
  text-decoration: none;
  font-size: large;
  font-weight: 900;
}

.text-end {
  font-weight: 500;
}

.separador {
  width: 100%;
  text-align: center;
  margin: 30px auto 20px;
}

.main-heading {
  font-weight: 500;
  font-size: 25px;
}

.formRegister {
  padding: 0 25px 0 35px;
}

.signup .form-control {
  border: 1px solid #57557a;
  border-radius: 2px;
  background: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 600 !important;
  color: #151515 !important;
}

.signup .form-control:focus {
  border: 1px solid #57557a;
  border-radius: 2px;
  box-shadow: none;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

.bn {
  text-decoration: underline;
}

.bn:hover {
  cursor: pointer;
}

.boton-registro {
  border:1px solid lime !important;
  background: #161645 !important;
}

small {
  color: #f2ceff;
}
