/* estilos imagen */

.user {
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
  display: block;
  transform: scale(0.9);
}

.game-header {
  position: relative;
  perspective: 800px;
  margin-bottom: 40px;
}

.game-title {
  position: relative;
  z-index: 10;
  transform: rotateX(21deg);
  color: #fff;
  font-size: 54rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -4px;
  text-align: center;
  text-shadow: 2px 1px 0px #d2d2d2, 4px 2px 0px #161645, 3px 1px 6px #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 0px 5px #00ff00, 0px 2px 5px #00ff00, -2px 0px 5px #00ff00,
    0px -2px 5px #00ff00;
}

.game-title .line-1 {
  font-size: 3rem;
  letter-spacing: 0px;
  text-shadow: 1px 1px 0px #d2d2d2;
  margin-top: 10px;
  margin-left: 20px;
}

.game-nav {
  /* position: relative; */
  width: 360px;
  margin: 0 auto;
  text-align: center;
}

ol,
ul {
  padding-left: 1rem;
}

.game-nav-item {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.game-nav-button {
  display: block;
  height: 45px;
  line-height: 36px;
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  /* tamanio texto de botones*/
  font-family: var(--fuente-principal);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /* width: 100%; */
}

.game-nav-button:hover,
.game-nav-button:focus {
  animation: neon 1.5s ease-in-out infinite alternate;
  outline: none;
}

/* estilos de sombras al pasar el mouse */
@keyframes coronaInsideStage {
  to {
    transform: translateY(500px);
  }
}

@keyframes neon {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--color-primario),
      0 0 35px var(--color-primario), 0 0 40px var(--color-primario), 0 0 50px var(--color-primario), 0 0 75px var(--color-primario);
  }

  to {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px var(--color-primario),
      0 0 17px var(--color-primario), 0 0 20px var(--color-primario), 0 0 25px var(--color-primario), 0 0 37px var(--color-primario);
  }
}

@keyframes curtain {
  from {
    height: 100vh;
    opacity: 0;
  }

  to {
    height: 100vh;
    opacity: 1;
  }
}


@media only screen and (max-width: 820px) {
  .perfil {
    max-height: 75vh;
  }

}