.header {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    font-size: 2.5em;
    padding-bottom: 16px;
    position: relative;
}

.header .fuente-principal {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}