.enlace-miniatura {
    text-decoration: none;
    display: block;
    padding: 0 0.5rem;
}

.contenido_miniatura {
    width: 100%;
    height: 13.5rem;
    text-align: center;
}

h2 {
    font-family: var(--fuente-secundaria);
    color: var(--color-primario);
}


.box {
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    border-radius: 12px;
}

.titulo_miniatura {
    margin-top: 3px;
    font-size: 1.25rem;
    color: #9d9d9d;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: #000000a8;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}



@media (max-width:480px) {
    .box {
        height: 160px;
        overflow: hidden;
        border-radius: 2%;
        margin: 0 auto;
    }
}