.contenido_miniatura{
    width: 100%;
    height: 240px;
    text-align: center;
}

.box{
    width: 190px;
    height: 160px;
    overflow: hidden;
    border-radius: 2%;
    margin: 0 auto;
}

.img_miniatura{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 50%;
    
}

.titulo_miniatura{
    margin-top: 3px;
    font-size: 14px;
}

@media (max-width:480px)  {
    .box{
        width: 80px;
        height: 160px;
        overflow: hidden;
        border-radius: 2%;
        margin: 0 auto;
    }
}