
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;600&display=swap");

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 2rem;
  stroke: lime;
  padding: 1%;
}

.sombra {
  filter: drop-shadow(0px 0px 2rem lime);
  box-shadow: none !important ;
}

.logo,
.lema {
  font-family: "Rajdhani", sans-serif;
  color: lime;
}

.logo-y-lema{
  display: flex;
  flex-flow: column;
  align-items: end;
  
}

.logo {
  font-weight: 600;
  font-size: 3rem ;
  text-shadow: 0px 0px 1rem lime;
  will-change: filter;
  transition: filter 1s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 5rem lime);
}

.lema {
  font-size: 0.9rem;
  margin-top: -0.6rem;
  align-self: center;
}

.rotation {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  0%,
  25%,
  100% {
    transform: rotate(0deg);
    transform-origin: 33% 33%;
  }
  50%,
  75% {
    transform: rotate(15deg);
    transform-origin: 33% 33%;
  }
}
