.carousel, .carousel-inner, .carousel-item {
    max-height: 65vh;
    height: 65vh;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.carousel-item::before {
    display: block;
    content: '';
    width: 100%;
    height: 175px;
    background: rgb(22, 22, 69);
    background: linear-gradient(180deg, #161645 0%, #16164596 26%, #16164545 68%, #16164500 100%);
}

.carousel {
    height: auto;
    max-height: 100%;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    top: 10%;
    transform: translateY(-50%);
}

.more {
    position: absolute;
    bottom: 75px;
    left: calc(50% - 100px);
    opacity: 0;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #508dff 10%, #00ff00 45%, #12B312 67%, #2a03d9 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-size: 1.169em;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.more-btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.more-btn:hover {
    transform: scale(1.1)
}

.more-btn:active {
    border: double 4px var(--color-primario);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.more-btn:active .circle {
    background: var(--color-primario);
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.active .title {
    animation: slide-in-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.active .more {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}