.carousel, .carousel-inner, .carousel-item {
    max-height: 65vh;
    height: 65vh;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.carousel {
    
    position: absolute;
    height: auto;
     max-height: 100%;
    margin-bottom: 20px;
}

.carousel-item img {
    height: auto;
    object-fit: cover;
    max-height: 100%;
}

.carousel h5 {
    text-shadow: 2px 2px 2px #000;
    font-family:'Rajdhani', sans-serif; 
}

.btn-carrusel {
    margin-top: 10px;
    color: #fff;
    width: auto;
    max-width: 200px;
    height: 50px;
    padding: 10px 25px;
    background: #00000082;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;

}

.btn-carrusel {
    color: lime;
    box-shadow: 0 0 5px lime, 0 0 5px lime inset;
    border: 1px solid lime;
    z-index: 1;
}

.btn-carrusel:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 5px lime 0 0 5px lime inset;
    transition: all 0.3s ease;
}



.btn-carrusel:hover:after {
    top: 0;
    height: 100%;
}

.btn-carrusel:active {
    top: 2px;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}